$color-text: rgb(240, 240, 240);
$color-background: rgb(17, 16, 40);
$color-primary: rgb(123, 40, 200);
$color-secondary: rgb(49, 46, 129);
$color-accent: rgb(191, 39, 211);
$color-alert: rgb(225, 29, 72);
$color-success: rgb(22, 163, 74);
