@use "./fonts" as *;

h1,
.h1 {
  font-family: $font-monument-ultra-bold;
  line-height: 1.25;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
}

h2,
.h2 {
  font-family: $font-monument-ultra-bold;
  line-height: 1.25;
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.1rem + 0.75vw, 2rem);
}

h3,
.h3 {
  font-family: $font-monument-regular;
  line-height: 1.25;
  font-size: 1.12rem;
  font-size: clamp(1.12rem, 1rem + 0.625vw, 1.6rem);
  font-weight: 400;
}

h4,
.h4 {
  font-family: $font-inter-regular;
  font-size: 1rem;
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
}

p,
.p {
  font-family: $font-inter-regular;
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
}
