.main-grid {
  --padding-inline: 2rem;
  --content-width: 150ch;
  --row-gap: 6rem;

  display: grid;
  row-gap: var(--row-gap);
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-width)
    )
    [content-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid {
  grid-column: content;
}

.full-width {
  grid-column: full-width;
}
