@use '../../abstracts/' as *;

.crypto__list {
    padding-bottom: 2rem;
    row-gap: 4rem;

    &-title {
        @media only screen and (max-width: 780px) {
            text-align: center;
        }
    }

    .list {
        border-radius: 1rem;
        border-collapse: collapse;
        overflow: hidden;

        td {
            padding: 1.25rem;

            @media only screen and (max-width: 780px) {
                display: block;
            }
        }

        @media only screen and (max-width: 780px) {
            td::before {
                content: attr(data-cell) ': ';
                text-transform: capitalize;
                font-weight: 500;
            }
        }
    }

    &-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}
