@use "../../../abstracts" as *;

.main__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 3rem;
  height: $headerSize;
  z-index: 9999;

  &-logo,
  .nav__logo {
    width: 5rem;
    aspect-ratio: 1;

    @include tablet {
      width: 4rem;
    }

    @include mobile {
      width: 3rem;
    }
  }

  .main__nav {
    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: 3rem;
      width: 100%;
      height: $headerSize;
    }

    .hamburger-btn,
    .nav__logo {
      aspect-ratio: 1;
      display: none;

      @include tablet {
        display: block;
      }
    }

    &-list {
      list-style: none;
      display: flex;
      gap: 2rem;
      align-items: center;
      margin: 0;
      padding: 0;
      transform-origin: top;

      @include tablet {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: fit-content;
        padding-bottom: 2rem;
        background-color: lighten($color-background, 5%);
        z-index: 999;
      }
    }

    &-item {
      display: flex;
      gap: 1rem;
      font-size: 0.75rem;
      font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);

      @include tablet {
        font-size: 1rem;
        font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
      }

      .nav__item-icon {
        display: none;

        @include tablet {
          display: block;
        }
      }

      .nav__item-link {
        text-decoration: none;
        color: $color-text;
        position: relative;
        transition: color 200ms ease-in-out;

        &:hover {
          color: lighten($color-accent, 25%);
        }

        &::after {
          content: "";
          width: 100%;
          height: 3px;
          border-radius: 999rem;
          transform-origin: right;
          transform: scaleX(0);
          background-color: $color-text;
          position: absolute;
          bottom: -0.25rem;
          left: 0;
          transition: transform 200ms ease-in-out;
        }

        &:hover::after {
          transform-origin: left;
          transform: scaleX(1);
        }
      }
    }
  }
}
